.DS_Store
Me/*
\.*.swp
*.pyc
*.log
*~
#*
.#*
*.tmproj
node_modules
scheduler.json
test/resources/config.json
tests/Data/
tests/output.xml
lockerbox*
Config/*
!Config/*.example
!Config/favicon.ico
Logs/*
!.gitignore
build.json
.coverage_data/
cover_html/
