body {
  padding-top: 2em;
}

table {
  margin-top: 1em;
}

#refresh,
#app-creation,
#account-creation {
  margin-left: 1em;
}

a.selected {
  font-weight: bold;
  text-decoration: none;
  color: black;
}
