body {
   padding-top: 2em;
}

table {
   margin-top: 1em;
}

td span.worker {
   padding-top: 2px;
   padding-bottom: 2px;
   padding-left: 4px;
   padding-right: 4px;
   border-radius: 2px;
}

th.worker {
   width: 25%;
}

th.synclet,
th.duration,
th.pipe {
   width: 15%;
}

th.profile {
   width: 20%;
}

th.state {
   width: 10%;
}

#disavowed-jobs-wrapper {
  display: none;
  margin-top: 1em;
}

#disavowed-jobs-wrapper p {
  padding-left: 8px;
}

#unresponsive-wrapper {
  display: none;
  margin-top: 1em;
  padding-left: 8px;
}

.dawgAlert {
   background-color: #fb8072;
   color: white;
   padding-top: 2px;
   padding-bottom: 2px;
   padding-left: 4px;
   padding-right: 4px;
   border-radius: 2px;
}

.worker-1 {
   background-color: #8dd3c7;
}

.worker-2 {
   background-color: #ffffb3;
}

.worker-3 {
   background-color: #bebada;
}

.worker-4 {
   background-color: #fb8072;
}

.worker-5 {
   background-color: #80b1d3;
}

.worker-6 {
   background-color: #fdb462;
}

.worker-7 {
   background-color: #b3de69;
}

.worker-8 {
   background-color: #fccde5;
}

.worker-9 {
   background-color: #d9d9d9;
}

.worker-10 {
   background-color: #bc80bd;
}

.worker-11 {
   background-color: #ccebc5;
}

.worker-12 {
   background-color: #ffed6f;
}
