<div class="token">
  <input type='text' id="apiToken" name='apiToken' value=''
  disabled='disabled' class='apiToken' />
  <div>
    <input type='button' id='showToken' name='showToken'
    value='Show API Token'
    class='showToken' />
    <input type='button' id='resetToken'name='resetToken'
    value='Reset API Token'
    class='resetToken' />
  </div>
  <p class="error"></p>
</div>
