{ 
"database": {
      "hostname":"XXX",
      "username":"admin",
      "password":"XXX",
      "database":"test"
    },
"s3" : {
      "key":"XXX",
      "secret":"XXX",
      "bucket":"XXX"
    }
}

