<!DOCTYPE html>
<html>
  <head>
    <title>Singly</title>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="../css/reset.css">
    <link rel="stylesheet" type="text/css" href="../css/base.css">
    <script type="text/javascript" charset="utf-8" src="../js/less-1.1.5.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  </head>
  <body>
    <div class="container">
      <% if (typeof hideHeader === 'undefined' || hideHeader !== true) { %>
        <%- partial('shared/header.ejs') %>
      <% } %>
      <div class="content">
        <%- body %>
      </div>
    </div>
  </body>
</html>
