<% var template_styles = ['register'] %>
<% var template_scripts = ['jquery.validate.min', 'register'] %>
<form id="register" class="solo register" action="/register" method="POST">
  <a href="/" class="home"><img src="/img/logos/round.png" alt="Singly" /></a>
  <% if (typeof inviteCode === 'undefined') { %>
    <div class="fields not-invited">
      <p class="closed">
        Registration is currently only open to developers.
      </p>
      <a class="action-button" href="/login">Sign In</a>
      &mdash;or&mdash;
      <a class="action-button" href="/auth/github">Sign Up with GitHub</a>
    </div>
  <% } else { %>
    <% if (typeof errors !== 'undefined' && errors.length > 0) { %>
      <p class="error">
        <%- errors[0] %>
      </p>
    <% } %>
    <div class="fields">
      <input type="hidden" name="inviteCode" value="<%= inviteCode %>" />
      <input type="text"     id="name" name="name" placeholder="Name" />
      <input type="email"    id="email" name="email" placeholder="Email" />
      <input type="password" id="password" name="password"
             placeholder="Password" />
      <input type="password" id="confirmation" name="confirmation"
             placeholder="Confirm Password" />
      <div class="optin">
        <input type="checkbox" id="optin" name="optin" />
        <label for="optin">Opt in to analytics</label>
        <a class="help" href="#">Learn about analytics</a>
        <p class="description">
          If you agree, we will collect statistics about how you use
          Singly, such as which features you use. This information will
          not be linked with your account or identity. We will use this
          data in aggregate, for all Singly account holders who permit it,
          to help us improve Singly.
        </p>
      </div>
      <div class="buttons">
        <input type="submit" class="action-button" value="Create Account" />
        <p class="login">
          Already have an account?
          <a href="/login">Sign In</a>
        </p>
      </div>
    </div>
  <% } %>
</form>
